.word {
  font-size: 20px;
  cursor: pointer;
}

.superscript {
  font-size: small;
  vertical-align: top;
}

.word-block {
  text-decoration: none;
  color: black;
  display: inline-table;
  margin: 0 15px 5px 0;
}

.word-block:hover {
  background-color: #428bca;
}