<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Page Analyser</title>
</head>

<h2>Address Input</h2>
<form action="/">
    <label for="address">Address:</label>
    <input type="text" id="address" name="address">
    <input type="submit">
</form>

<h2>Page Info</h2>
<table>
    <tr>
        <td>HtmlVersion</td>
        <td>{{ .HtmlVersion }}</td>
    </tr>
    <tr>
        <td>PageTitle</td>
        <td>{{ .PageTitle }}</td>
    </tr>
    <tr>
        <td>Headers</td>
        <td>
            <ul>
            {{ range $key, $value := .Headers }}
                {{ if $value }}
                <li><strong>{{ $key }}</strong>: {{ $value }}</li>
                {{ end }}
            {{ end }}
            </ul>
        </td>
    </tr>
    <tr>
        <td>InternalLinks</td>
        <td>{{ .InternalLinks }}</td>
    </tr>
    <tr>
        <td>ExternalLinks</td>
        <td>{{ .ExternalLinks }}</td>
    </tr>
    <tr>
        <td>InaccessibleLinks</td>
        <td>{{ .InaccessibleLinks }}</td>
    </tr>
    <tr>
        <td>HasLoginForm</td>
        <td>{{ .HasLoginForm }}</td>
    </tr>
</table>

<h2>Content</h2>
<div>{{ .Content }}</div>

</html>